*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url(https://i.pinimg.com/originals/6f/2d/34/6f2d34fe6c8746c56c14fbc55308ef99.jpg);
    background-size: 240rem;
    
}

header {
    margin-bottom: 1%;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.63);
    display: flex; 
    justify-content: center;
    text-decoration: none;
    border-radius: 1rem;

}

.navbar-text {
    background-color: rgba(0, 0, 0, 0.63);
    display: flex; 
    justify-content: center;
    text-decoration: none;

    display: none;
    
   
}

.nav-selector {
    padding: 0.5rem;
    margin: 3px;
    font-size: 1.5rem;
   color: white;
    
}

a {
    text-decoration: unset;
    color:gray;

}

a:hover {
    color: white;
  
}



.container {
    width: 92%;
    margin: auto;
    justify-content: center;
}

.core-container {
    width: 92%;
    margin: auto;
    justify-content: center;
    display: flex;
    
}

.personal-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgba(9, 172, 236, 0.76);
    margin: 1rem 0 0 0;
}

.avatar-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgba(9, 172, 236, 0.76);
    margin: 1rem 0 0 0;
}

.avatar-button {
    border-radius: 0.5rem;
    width: 4rem;
    height: 1.5rem;
    outline: none;
    background-color:rgba(8, 159, 219, 0.521);
    border-color: black;
    margin-bottom: 1rem;
}

.personal-button {
    border-radius: 0.5rem;
    width: 4rem;
    height: 1.5rem;
    outline: none;
    background-color:rgba(8, 159, 219, 0.521);
    border-color: black;
    margin-top: 1rem;
}

.avatar-button:hover {
    background-color: rgba(9, 172, 236, 0.76);
}

.core-personal {
    flex-wrap: wrap;
    width: 88%;
    height: 35%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.core-avatar {
width: 88%;
height: 50%;
margin: 1% 0;    
display: flex;
flex-direction: column;
align-items: center;

    
}

.avatar {
    height: 8rem;
    width: 8rem;
    border-radius: 9999px;
    object-fit: cover;
    margin: 1rem;
}

.core {
    margin: 1% 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    position:fixed;
    height: 85%;
    max-height: 89%;
    width: 90%;
    align-items: center;
    
}

.card-setup {
    display: grid;
    /* justify-items: center; */
    grid-template-columns: repeat(2, minmax(0, 1fr));    
}

.card {
    padding: 0.3rem;
    justify-content: center;
}

.news {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 00.35rem;
    max-width: 100%;
    /* max-height: 100%; */
    height: 18rem;
    align-content: center;
    justify-content: center;
}


.news-text {
    margin-top: 1%;
    color: white;
    text-overflow: clip;
    text-align: center;
}

.news-nadpis {
    color: white;
    
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.obrazok {
    max-width: 96%;
    object-fit: cover;
    opacity: 95%;
    border-radius: 0.35rem;
}



/* MEDIA QUERY */





/* PC rozlíšenie  */
@media screen and (min-width: 1441px) and (max-width: 1920px) {


    .obrazok {
        max-width: 100%;
        width: 30rem;
        object-fit: cover;
        opacity: 95%;
        border-radius: 0.35rem;
    }

    .card {
        
        padding: 0.3rem;
        justify-content: center;
        margin: auto;
    }

    .navbar-text {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        text-decoration: none;
        border-radius: 1rem;

    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        border-radius: 1rem;
        display: none;
    }

    .card:nth-child(n+6) {
        padding: 0.3rem;
        justify-content: center;
        display: none;
    }

    .card-setup {
        display: grid;
        justify-items: center; 
        grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
        margin-bottom: 1%;
    }

    .nav-selector {
        padding: 0.4rem 1.5rem;
        font-size: 3rem;
        color: white;
    }

    .news-nadpis {
        color: white;
        font-weight: bold;
        font-size: 3rem;
    }

    .news-text {
        margin-top: 4%;
        color: white;
        text-overflow: clip;
        text-align: center;
        font-size: 1.5rem;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.63);
        border-radius: 00.35rem;
        max-width: 100%;
        /* max-height: 100%; */
        height: 27.5rem;
        align-content: center;
        justify-content: center;
        padding: 1%;
    }

}

/* MacBook Pro 13 palcov */
@media screen and (min-width: 1921px) and (max-width: 2560px) {

    .obrazok {
        max-width: 100%;
        width: 30rem;
        object-fit: cover;
        opacity: 95%;
        border-radius: 0.35rem;
    }

    .card {
        
        padding: 0.3rem;
        justify-content: center;
        margin: auto;
    }

    .navbar-text {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        text-decoration: none;
        border-radius: 1rem;

    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        border-radius: 1rem;
        display: none;
    }

    .card:nth-child(n+) {
        padding: 0.3rem;
        justify-content: center;
        display: none;
    }

    .card-setup {
        max-width: 140rem;
        display: grid;
        justify-items: center; 
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 1%;
    }

    .nav-selector {
        padding: 0.4rem 1.5rem;
        font-size: 3rem;
        color: white;
    }

    .news-nadpis {
        color: white;
        font-weight: bold;
        font-size: 3rem;
    }

    .news-text {
        margin-top: 4%;
        color: white;
        text-overflow: clip;
        text-align: center;
        font-size: 1.5rem;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.63);
        border-radius: 00.35rem;
        max-width: 100%;
        height: 24rem;
        max-height: 24rem;
        align-content: center;
        justify-content: center;
        padding: 1%;
    }

}

/* MacBook Pro 15 Palcov */
@media screen and (min-width: 2561px) and (max-width: 2880px) {

    .obrazok {
        max-width: 100%;
        width: 30rem;
        object-fit: cover;
        opacity: 95%;
        border-radius: 0.35rem;
    }

    .card {
        
        padding: 0.3rem;
        justify-content: center;
        margin: auto;
    }

    .navbar-text {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        text-decoration: none;
        border-radius: 1rem;

    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        border-radius: 1rem;
        display: none;
    }

    .card:nth-child(n+) {
        padding: 0.3rem;
        justify-content: center;
        display: none;
    }

    .card-setup {
        width: 143rem;
        display: grid;
        justify-items: center; 
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 1%;
    }

    .nav-selector {
        padding: 0.4rem 1.5rem;
        font-size: 3rem;
        color: white;
    }

    .news-nadpis {
        color: white;
        font-weight: bold;
        font-size: 3rem;
    }

    .news-text {
        margin-top: 4%;
        color: white;
        text-overflow: clip;
        text-align: center;
        font-size: 1.5rem;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.63);
        border-radius: 00.35rem;
        max-width: 100%;
        /* max-height: 100%; */
        height: 35rem;
        align-content: center;
        justify-content: center;
        padding: 1%;
    }


}

/* MacBook Pro 16 Palcov */
@media screen and (min-width: 2881px) and (max-width: 3072px) {

    .obrazok {
        max-width: 100%;
        width: 30rem;
        object-fit: cover;
        opacity: 95%;
        border-radius: 0.35rem;
    }

    .card {
        
        padding: 0.3rem;
        justify-content: center;
        margin: auto;
    }

    .navbar-text {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        text-decoration: none;
        border-radius: 1rem;

    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        border-radius: 1rem;
        display: none;
    }

    .card:nth-child(n+) {
        padding: 0.3rem;
        justify-content: center;
        display: none;
    }

    .card-setup {
        width: 157rem;
        display: grid;
        justify-items: center; 
        margin: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 1%;
    }

    .nav-selector {
        padding: 0.4rem 1.5rem;
        font-size: 3rem;
        color: white;
    }

    .news-nadpis {
        color: white;
        font-weight: bold;
        font-size: 3rem;
    }

    .news-text {
        margin-top: 4%;
        color: white;
        text-overflow: clip;
        text-align: center;
        font-size: 1.5rem;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.63);
        border-radius: 00.35rem;
        max-width: 100%;
        /* max-height: 100%; */
        height: 35rem;
        align-content: center;
        justify-content: center;
        padding: 1%;
    }

}