


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url(https://i.pinimg.com/originals/6f/2d/34/6f2d34fe6c8746c56c14fbc55308ef99.jpg);
    background-size: 240rem;
    
}

header {
    margin-bottom: 1%;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.63);
    display: flex; 
    justify-content: center;
    text-decoration: none;
    border-radius: 1rem;

}

.navbar-text {
    background-color: rgba(0, 0, 0, 0.63);
    display: flex; 
    justify-content: center;
    text-decoration: none;

    display: none;
    
   
}

.nav-selector {
    padding: 0.5rem;
    margin: 3px;
    font-size: 1.5rem;
   color: white;
    
}

a {
    text-decoration: unset;
    color:gray;

}

a:hover {
    color: white;
  
}



.container {
    width: 92%;
    margin: auto;
    justify-content: center;
}

.card-setup {
    display: grid;
    /* justify-items: center; */
    grid-template-columns: repeat(2, minmax(0, 1fr));    
}

.card {
    padding: 0.3rem;
    justify-content: center;
}

.news {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 00.35rem;
    max-width: 100%;
    /* max-height: 100%; */
    height: 18rem;
    align-content: center;
    justify-content: center;
}


.news-text {
    margin-top: 1%;
    color: white;
    text-overflow: clip;
    text-align: center;
}

.news-nadpis {
    color: white;
    
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

img {
    max-width: 96%;
    object-fit: cover;
    opacity: 95%;
    border-radius: 0.35rem;
}



/* MEDIA QUERY */





/* PC rozlíšenie  */
@media screen and (min-width: 1441px) and (max-width: 1920px) {


    img {
        max-width: 100%;
        width: 30rem;
        object-fit: cover;
        opacity: 95%;
        border-radius: 0.35rem;
    }

    .card {
        
        padding: 0.3rem;
        justify-content: center;
        margin: auto;
    }

    .navbar-text {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        text-decoration: none;
        border-radius: 1rem;

    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.63);
        display: flex; 
        justify-content: center;
        border-radius: 1rem;
        display: none;
    }

    .card:nth-child(n+6) {
        padding: 0.3rem;
        justify-content: center;
        display: none;
    }

    .card-setup {
        display: grid;
        justify-items: center; 
        grid-template-columns: 1fr  1fr 1fr 1fr 1fr;
        margin-bottom: 1%;
    }

    .nav-selector {
        padding: 0.4rem 1.5rem;
        font-size: 3rem;
        color: white;
    }

    .news-nadpis {
        color: white;
        font-weight: bold;
        font-size: 3rem;
    }

    .news-text {
        margin-top: 4%;
        color: white;
        text-overflow: clip;
        text-align: center;
        font-size: 1.5rem;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.63);
        border-radius: 00.35rem;
        max-width: 100%;
        /* max-height: 100%; */
        height: 27.5rem;
        align-content: center;
        justify-content: center;
        padding: 1%;
    }

}